alembic==1.4.3
apparmor==2.13.4
appdirs==1.4.4
application-utility==1.3.2
argcomplete==1.11.1
asn1crypto==1.4.0
astroid==2.3.3
autopep8==1.5.2
Babel==2.8.0
bauh==0.9.7
bcrypt==3.1.7
Beaker==1.11.0
beautifulsoup4==4.9.3
black==20.8b1
blinker==1.4
boto3==1.13.24
botocore==1.16.24
Brlapi==0.7.0
bs4==0.0.1
btrfsutil==1.2.0
CacheControl==0.12.6
capstone==4.0.1
ceph-volume==1.0.0
cephfs==2.0.0
cephfs-shell==0.0.1
cffi==1.14.0
chardet==3.0.4
click==7.1.2
colorama==0.4.3
contextlib2==0.6.0.post1
cryptography==2.9
cupshelpers==1.0
decorator==4.4.2
distlib==0.3.1
distro==1.5.0
docopt==0.6.2
docutils==0.15.2
extras==1.0.0
filelock==3.0.12
fixtures==3.0.0
Flask==1.1.2
Flask-BabelEx==0.9.4
Flask-Compress==1.5.0
Flask-Gravatar==0.5.0
Flask-Login==0.5.0
Flask-Mail==0.9.1
Flask-Migrate==2.5.2
Flask-Paranoid==0.2.0
Flask-Principal==0.4.0
Flask-Script==2.0.6
Flask-Security-Too==3.3.3
Flask-SQLAlchemy==2.4.4
Flask-WTF==0.14.3
future==0.18.2
gmpy2==2.0.8
html5lib==1.1
idna==2.10
imageio==2.9.0
imageio-ffmpeg==0.4.2
intervaltree==3.0.2
isort==4.3.21
itsdangerous==1.1.0
Jade-Application-Kit==3.5.3
Jinja2==2.11.2
jmespath==0.10.0
keyutils==0.6
lazy-object-proxy==1.4.3
ldap3==2.8.1
LibAppArmor==2.13.4
libvirt-python==6.4.0
lockfile==0.12.2
louis==3.15.0
Mako==1.1.2
MarkupSafe==1.1.1
mccabe==0.6.1
moviepy==1.0.3
mpmath==1.1.0
msgpack==1.0.0
mypy-extensions==0.4.3
nftables==0.1
npyscreen==4.10.5
numpy==1.19.2
ordered-set==4.0.2
packaging==20.4
pacman-mirrors==4.16.4
paramiko==2.7.1
passlib==1.7.2
pathspec==0.8.0
pbr==5.5.0
pep517==0.8.2
Pillow==7.2.0
pipx==0.15.1.3
pluggy==0.13.1
ply==3.11
proglog==0.1.9
progress==1.5
psutil==5.7.0
psycopg2==2.8.6
pwntools==4.0.1
pwquality==1.4.2
py==1.8.1
pyaml==20.4.0
pyasn1==0.4.8
PyBluez==0.22
pycairo==1.19.1
pycodestyle==2.5.0
pycparser==2.20
pycrypto==2.6.1
pycups==2.0.1
pycurl==7.43.0.6
pyelftools==0.26
Pygments==2.6.1
PyGObject==3.36.1
pylint==2.4.4
PyNaCl==1.3.0
pyngrok==3.1.0
pyparsing==2.4.7
PyQt5==5.15.1
PyQt5-sip==12.8.1
PyQtWebEngine==5.15.1
pyrsistent==0.17.3
pyserial==3.4
pysmbc==1.0.20
PySocks==1.7.1
python-dateutil==2.8.1
python-editor==1.0.4
python-mimeparse==1.6.0
pytz==2020.1
PyYAML==5.3.1
rados==2.0.0
rbd==2.0.0
regex==2020.7.14
requests==2.24.0
resolvelib==0.4.0
retrying==1.3.3
rgw==2.0.0
rope==0.16.0
ROPGadget==6.3
rsa==4.0
s-tui==1.0.2
s3transfer==0.3.3
selenium==3.141.0
simplejson==3.17.2
sip==4.19.24
six==1.15.0
slip==0.6.5
slip.dbus==0.6.5
sortedcontainers==2.1.0
soupsieve==2.0.1
speaklater==1.3
SQLAlchemy==1.3.19
sqlparse==0.3.1
sshtunnel==0.1.5
sympy==1.5.1
systemd-python==234
sysv-ipc==1.0.1
team==1.0
testtools==2.4.0
toml==0.10.1
tox==3.14.6
tqdm==4.48.2
typed-ast==1.4.1
typing-extensions==3.7.4.3
udiskie==2.2.0
unicorn==1.0.2rc3
urllib3==1.25.10
urwid==2.1.1
userpath==1.3.0
virtualenv==20.0.18
webencodings==0.5.1
Werkzeug==1.0.1
wrapt==1.11.2
WTForms==2.2.1
youtube-dl==2020.9.20
